  .App {
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center; 
    
  }


  .app-menu h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-table {
    border: 0.5px solid black;
    width: 90%;
    margin: 0 auto;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  }
  
  table th {
    border-bottom: 0.5px solid black;
    border: 1px solid black;
    height: 30px;
  }
  
  table thead tr th {
    text-align: center;
    height: 60px;
    background-color: #009879;
    color: white;
  }
  


  tbody tr th {
    height: 150px;
    text-align: center;
    vertical-align: middle;
    height: 200px;

  }
 
  .refresh{
    display: flex;
    gap: 10px;
    align-items: center;
}

.App {
  padding-bottom: 20px;
}

.time {
  margin-bottom: 0.5%;
}

.time-column-left, .time-column-right {
  display: inline-block;
}

.time-column-left {
  margin-left: 5%;
  font-weight: 500;
}

.time-column-right {
  margin-left: 60.5%;
}


