
.container .info {
    display: flex;
    justify-content: space-between;
}

.change-status {
    display: flex;
}
.dropdown-detail {
    margin-bottom: 13px;
    margin-left: 5%;
}
.imgSlide {
    display: flex;
}

.imgSlide img:first-of-type {
    margin-left: 0px;
}

.imgSlide img {
    margin-left: 20px;
}