.styled-table {
    border-collapse: collapse;
    margin:auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.table-app table thead tr th{
    /* background-color: #009879; */
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddd;
}

.styled-table tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover{
    background-color: #ddd;
}



.styled-table tbody th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
  }

  .sort {
    margin-left: 33.3%;
    border: solid;
    border-radius: 8px;
  }

  

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.global-search, .sort {
  display: inline-block;
}

.sub-nav {
    background-color: #f7f7f7;
    padding: 15px;
  }

  .sub-nav h2{
    font-weight: 800;
    margin-left: 2%;
  }
  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 1%;
  }




.button-3 {
    appearance: none;
    background-color: blanchedalmond ;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: gray;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #009879;
    color: white;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #009879;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  } 
  



  .button-create {
    appearance: none;
    background-color: #0f2147 ;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-create:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-create:hover {
    background-color: #009879;
    color: white;
  }
  
  .button-create:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-create:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-create:active {
    background-color: #009879;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  } 