
.sidebar-container{
    display:flex;
    
 
}

.sidebar{
    background: linear-gradient(60deg, #0f2147 0%, #0f2147 100%)#212F3C;
    color: #fff;
    width: 200px;
    transition: all 0.5s;
    margin-bottom: -101%;
    padding-bottom: 101%; 
    overflow: hidden;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    align-items: center;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

